body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background-color:#dce0d9;
}
.box{
background-color:#ffffff;
padding: 30px;
border-radius: 10px;
box-shadow: 0 4.1px 6.3px rgba(0, 0, 0, 0.1);
width: 300px;
}
input{
width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #ddd;
border-radius: 5px;
box-sizing:border-box;
}
#bar{
height: 10px;
width: 0%;
background-color: #e0e0e0;
margin-bottom: 10px;
border-radius: 5px;
transition: width 0.3s, background-color 0.3s;
}
#text{
text-align: center;
font-weight: bold;
}
